In [2]:
from fightchurn import run_churn_listing
from fightchurn.run_churn_listing import run_listing

In [4]:
run_churn_listing.set_churn_environment(
    'churn',
    'postgres',
    'Sayonika1'
)

Setting Environment Variables user=postgres for db=churn, output path =`../../../fight-churn-output/`

In [5]:
#run_churn_listing.run_standard_simulation(init_customers = 2000)

In [6]:
run_listing(2,2)

Running chapter 2 listing 2 churn_rate on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select  '2020-03-01'::date as start_date, '2020-04-01'::date as end_date
),
start_accounts as
(
	select distinct account_id
	from subscription s inner join date_range d on
		s.start_date <= d.start_date
		and (s.end_date > d.start_date or s.end_date is null)
),
end_accounts as
(
	select distinct account_id
	from subscription s inner join date_range d on
		s.start_date <= d.end_date
		and (s.end_date > d.end_date or s.end_date is null)
),
churned_accounts as
(
	Select s.account_id
	from start_accounts s
	left outer join end_accounts e on
		s.account_id=e.account_id
	where e.account_id is null
),
start_count as (
	select 	count(start_accounts.*) as n_start from start_accounts
),
churn_count as (
	select 	count(churned_accounts.*) as n_churn from churned_accounts
)
select
	n_churn::float/n_start::float as churn_rate,
	1.0-n_churn::float/n_start::float as retention_rate,
	n_start,
	N_churn
from start_count, churn_count

----------
RESULT:
Record(churn_rate=0.05430081691494474, retention_rate=0.9456991830850553, n_start=2081, n_churn=113)

In [7]:
run_churn_listing.insert_metrics('socialnet7')

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (0,'like_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (1,'newfriend_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (2,'post_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (3,'adview_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (4,'dislike_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (5,'unfriend_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (6,'message_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (7,'reply_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (0,'like_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (0,'like_per_month')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 4 metric_name_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; insert into metric_name values (8,'account_tenure')
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 13 account_tenure_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with RECURSIVE date_vals AS (
select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
),
earlier_starts AS
(
	select account_id, metric_date, min(start_date) as start_date
	from subscription inner join date_vals
		on start_date <= metric_date
		and (end_date > metric_date or end_date is null)
	group by account_id, metric_date

	UNION

	select s.account_id, metric_date, s.start_date
	from subscription s inner join earlier_starts e
		on s.account_id=e.account_id
		and s.start_date < e.start_date
		and s.end_date >= (e.start_date-31)

)
insert into metric (account_id,metric_time,metric_name_id, metric_value)
SELECT account_id, metric_date, 8 as metric_name_id, extract(days from metric_date-min(start_date)) as metric_value
FROM earlier_starts
group by account_id, metric_date
order by account_id, metric_date
ON CONFLICT DO NOTHING;
----------
RESULT:

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 0,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='like'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'like_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_like_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_like_per_month.png

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 1,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='newfriend'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'newfriend_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_newfriend_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_newfriend_per_month.png

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 2,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='post'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'like_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_post_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_post_per_month.png

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 3,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='adview'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'adview_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_adview_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_adview_per_month.png

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 4,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='dislike'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'dislike_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_dislike_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_dislike_per_month.png

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 5,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='unfriend'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'unfriend_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_unfriend_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_unfriend_per_month.png

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 6,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='message'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'message_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_message_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_message_per_month.png

Running chapter 3 listing 3 count_metric_insert on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with date_vals AS (
 	select i::timestamp as metric_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
)
insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_date, 7,  count(*) AS metric_value
from event e inner join date_vals d
on e.event_time < metric_date
and e.event_time >= metric_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='reply'
group by account_id, metric_date
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 3 listing 6 metric_stats_over_time on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select i::timestamp as calc_date
from generate_series('2020-02-02', '2020-05-10', '7 day'::interval) i
), the_metric as (
	select * from metric m
	inner join metric_name n on m.metric_name_id = n.metric_name_id
	where n.metric_name = 'reply_per_month'
)
select calc_date,  avg(metric_value), count(the_metric.*) as n_calc,
min(metric_value), max(metric_value)
from date_range left outer join the_metric on calc_date=metric_time
group by calc_date
order by calc_date

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_stats_over_time_reply_per_month.csv

Running chapter 3 listing 7 metric_qa_plot on schema socialnet7
Saving metric qa plot to ../../../fight-churn-output/socialnet7/socialnet7_metric_stats_over_time_reply_per_month.png

Running chapter 3 listing 8 metric_coverage on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with
date_range as (
	select  '2020-02-02'::timestamp as start_date,
		'2020-05-10'::timestamp as end_date
), account_count as (
	select count(distinct account_id) as n_account
	from subscription s inner join date_range d on
	 s.start_date <= d.end_date
	and (s.end_date >= d.start_date or s.end_date is null)
)
select metric_name,
	count(distinct m.account_id) as count_with_metric,
	n_account as n_account,
	(count(distinct m.account_id))::float/n_account::float as pcnt_with_metric    ,
	avg(metric_value) as avg_value,
	min(metric_value) as min_value,
	max(metric_value) as max_value,
	min(metric_time)  as earliest_metric,
	max(metric_time) as last_metric
from metric m cross join account_count
inner join date_range on
	metric_time >= start_date
	and metric_time <= end_date
inner join metric_name  n on m.metric_name_id = n.metric_name_id
inner join subscription s on s.account_id = m.account_id
    and s.start_date <= m.metric_time
    and (s.end_date >= m.metric_time or s.end_date is null)
group by metric_name,n_account
order by metric_name;

----------
RESULT:
Saving: ../../../fight-churn-output/socialnet7\socialnet7_metric_coverage.csv

Running chapter 7 listing 3 total_metric on schema socialnet7
SQL:
----------
set search_path = 'socialnet7';


INSERT into metric_name values (26,'total_opinions')
ON CONFLICT DO NOTHING;

insert into metric (account_id,metric_time,metric_name_id,metric_value)
select account_id, metric_time, 26, sum(metric_value) as metric_total
from metric m inner join metric_name n on n.metric_name_id=m.metric_name_id
and n.metric_name in ( 'like_per_month', 'dislike_per_month' )
where metric_time between '2020-03-01' and '2020-05-10'
group by metric_time, account_id
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 7 listing 4 percent_change_metric on schema socialnet7
SQL:
----------
set search_path = 'socialnet7';

INSERT into metric_name values (30,'new_friends_pcnt_change')
ON CONFLICT DO NOTHING;

with end_metric as (
	select account_id, metric_time, metric_value as end_value
	from metric m inner join metric_name n on n.metric_name_id=m.metric_name_id
	and n.metric_name = 'newfriend_per_month'
	and metric_time between '2020-03-01' and '2020-05-10'
), start_metric as (
	select account_id, metric_time, metric_value as start_value
	from metric m inner join metric_name n on n.metric_name_id=m.metric_name_id
	and n.metric_name = 'newfriend_per_month'
	and metric_time between ('2020-03-01'::timestamp -interval '4 week')
	    and ('2020-05-10'::timestamp -interval '4 week')
)

insert into metric (account_id,metric_time,metric_name_id,metric_value)

select s.account_id, s.metric_time + interval '4 week', 30,
    coalesce(end_value,0.0)/start_value - 1.0
from start_metric s left outer join end_metric e
	on s.account_id=e.account_id
	and e.metric_time=(s.metric_time + interval '4 week')
where start_value > 0
ON CONFLICT DO NOTHING;


----------
RESULT:

Running chapter 7 listing 6 days_since_event on schema socialnet7
SQL:
----------
set search_path = 'socialnet7';
INSERT into metric_name values (31,concat('days_since_newfriend' ))
ON CONFLICT DO NOTHING;


with date_vals AS (
  select i::date as metric_date
	from generate_series('2020-03-01', '2020-05-10', '7 day'::interval) i
),
last_event as (
    select account_id, metric_date, max(event_time)::date as last_date
    from event e inner join date_vals d
    on e.event_time::date <= metric_date
    inner join event_type t on t.event_type_id=e.event_type_id
    where t.event_type_name='newfriend'
    group by account_id, metric_date
    order by account_id, metric_date
)

insert into metric (account_id,metric_time,metric_name_id,metric_value)

select account_id, metric_date, 31,
metric_date - last_date as days_since_event
from last_event
ON CONFLICT DO NOTHING;


In [8]:
run_churn_listing.run_listing(3,1)

Running chapter 3 listing 1 event_count on schema socialnet7
SQL:
----------
set search_path = 'socialnet7'; with calc_date as (
	select '2020-05-10'::timestamp  as the_date
)
select account_id, count(*) as n_like_permonth
from event e inner join calc_date d on
  e.event_time <= d.the_date
  and e.event_time > d.the_date - interval '28 day'
inner join event_type t on t.event_type_id=e.event_type_id
where t.event_type_name='like'
group by account_id;

----------
RESULT:
   account_id  n_like_permonth
0           0               70
1           1              121
2           2              185
3           4               54
4           5               11
5           6              203
6           7               22
7           9               41
8          10               51
9          11               98